PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

DATABASE_URL="postgresql://postgres.cihgwaxoechzbkzlomzl:REPLACE_WITH_AWESOME_DB_PASSWORD@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.cihgwaxoechzbkzlomzl:REPLACE_WITH_AWESOME_DB_PASSWORD@aws-0-us-east-1.pooler.supabase.com:5432/postgres"

MATERIALS_UPLOAD_DIR=./uploads
MATERIALS_MAX_FILE_SIZE_MB=20

JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=8h
ADMIN_SEED_EMAIL=admin@garymayhua.com
ADMIN_SEED_PASSWORD=ReplaceWithAStrongPassword123!

BREVO_API_KEY=replace-with-your-brevo-api-key
BREVO_FROM_EMAIL=remitente@tudominio.com
APP_URL=http://localhost:5173

# ---- Cloudinary (vídeos de las lecciones) ----
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
CLOUDINARY_URL=cloudinary://your-api-key:your-api-secret@your-cloud-name


